@import 'fonts.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-family: 400;
}

body{
    background-color: darkslategray;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

input, button{
    background: none;
    outline: none;
    border: none;
}

.container{
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}